body {
    padding: 100px 100px;
}

h1 {
    text-align: center;
    background-color: rgb(184, 210, 219);
}

p {
    text-align: center;
    background-color:  rgb(184, 210, 219);
    margin: 0px 0px 0px 0px;
}

span {
    margin: 10px;
}

#textbox {
    width: 98.4%;
    margin: -22px 0px 0px 0px;
    border: 2px solid rgb(184, 210, 219);
}